<a href="https://colab.research.google.com/github/naidu1997/python_assignments/blob/main/condition%2Cloops_statements_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
     #condition statements
number= 0
if number < 0:
  print("number is ok")
elif number > 0:
  print('number not ok')
else:
  print('zero')

zero

In [ ]:
     #loops statements
     #while loop
a= 8
while a <=12:
  a= a+1
  print(a)

9
10
11
12
13

In [ ]:
     #for loop
name='pavan'
for a in name:
  print(a)

p
a
v
a
n

In [ ]:
language=['python','java','c']
for b in language:
  print(b)

python
java
c

In [ ]:
number= 10
for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
grades_of_student= {'pavan':95,'shiva':90,'jaswanth':85,'prasad':80}
for name,grade in grades_of_student.items():
 print(f"{name}'s grade is {grade}")

pavan's grade is 95
shiva's grade is 90
jaswanth's grade is 85
prasad's grade is 80

In [ ]:
#control statements
    #pass
for i in range(20):
  if i==10:
    pass
  else:
     print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [ ]:
#break
for i in range(20):
  if i==10:
    break
  else:
     print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# continue
for i in range(20):
  if i == 10:
    continue  # Indent the continue statement
  else:
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19