<a href="https://colab.research.google.com/github/naidu1997/python_assignments/blob/main/operators_arith%2Cassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#arithmatic operations
#add of numbers
a=2
b=3
c=a+b
print(c)
#sub of numbers
a=4
b=6
c=a-b
print(c)
#multiply of numbers
a=2
b=14
c=a*b
print(c)
#div of numbers
a=7
b=4
c=a/b
print(c)
#modulas
a=3
b=5
c=a%b
print(c)
#float division
a=14
b=11
c=a//b
print(c)
#exponential
a=4
b=6
c=a**b
print(c)

5
-2
28
1.75
3
1
4096

In [ ]:
#assignment operators
a=50
b=1
a+=b
#add the 'a' value in the 'a' value
#a=a+b

print(a)

52

In [ ]:
b=1
c=3
#add the 'b' value in main 'b' value
b+=c
#b=b+c
print(b)

4

In [ ]:
c=3
d=4
#add the 'c' value in main
c+=d
#c=c+d
print(c)

7

In [ ]:
d=5
e=2
#add the 'd' value in main 'd' value
d+=e
#d=d+e
print(d)

7

In [ ]:
#subtraction operator
g=8
h=2
#sub the 'g' value in main 'g' value
g-=h
#g=g-h
print(g)

6

In [ ]:

a=4
b=1
a-=b
#a=a-b
print(a)

3

In [ ]:
#multiplication assignment
w=5
f=3
w*=f
#w=w-f
print(w)

15

In [ ]:
#division assignment
u=2.8
v=5.1
u/=v
#u=u/v
print(u)

0.5490196078431373

In [ ]:
#remainder assignment
i=2
j=3
i%=j
#i=i%j
print(i)

2

In [ ]:
#exponent assignment
e=1
f=8.1
e**=f
#e=**f
print(e)

1.0

#comaprison operators

In [ ]:
a=6
b=5
#'=' is equal to that value
print(a==b)
#'!' not is equal to
print('a!=b=',a != b)
#'>' greater than
print('a>b=',a>b)
#'<'less than
print('a<b=',a<b)
#'>=' greater than or equal to
print('a>=b=',a>=b)
#'<=' less than or equal to
print('a<=b=',a<=b)

False
a!=b= True
a>b= True
a<b= False
a>=b= True
a<=b= False

# logical operators

In [ ]:
#logical operators
#'and' function gives only true value
#a=3
print(3>2 and 3<8)

True

In [ ]:
#or function gives satisfy value
#b=2
print(2>1 and 2<3)

True

In [ ]:
#not function gives opposite to true value
#if the statement is false it give true
#c=3
print(not(3 > 2 and 3 < 5))
print(not(3 > 4 and 3 < 1))

False
True

In [ ]:
#identity operators
#these operators are denoted with'is' or 'is not'
a1=43
b1=44
a2='pavan'
b2='tharun'
print(a1 is b1)
print(a2 is not b2)

False
True

#membership operators

In [ ]:
#'in' or'notin' are used in this operator
#whether the any word of 'apple' is present in 'r' value
q='Apple'
r=[4,5,6,7,8,9]
print('e' in q)#gives true
print('A' not in q)#gives false
print(4 in r)#gives true
print(4 not in r)#false

True
False
True
False

Bitwise operators

suppose we will take 5 and 3, we will write binary code here
    64 32 16 8 4 2 1
#5= 0  0  0 0 1 0 1
#3= 0  0  0 0 0 1 1
    ________________
  = 0  0  0 0 0 0 1
so the output is '1'

In [ ]:
#binary code

#4=0100
#6=0110
#________
  #0100
x=4
y=6
print(x&y)

4

In [ ]:
#or operation
#53=0110101
#32=0100000
#16=0010000
a=53
b=32
c=16
#a/c
#53=0110101
#16=0010000
#___________
#69=0110101
#a/b
#53=0110101
#32=0100000
#__________
#85=0110101
#b/c
#32=0100000
#16=0010000
#__________
#48=0110000
#in 'or' function if the values are contain '1' it can be added
print(a|c,a|b,b|c)

53 53 48

#in'XOR' bit code, the values are 1+1=false
#and 1+0=true
#and 1+1= false

In [ ]:
a=6
b=9
#6= 00110
#9= 01001
   _______
#15=01111
print(a^b)

15

In [ ]:
#not is denoted by '~'
x=24
b=18
#24= 011000
#'~'=100111
#18= 010010
#'~'=101101
print(~x)
print(~b)

-25
-19

In [ ]:
#left shift is denoted by 'x<<2'
a=16
b=15
#16=010000
#15=001111
print(a<<1)
print(b<<1)

32
30

In [ ]:
#right shift operator is denoted by 'a>>2'
a=2
b=4
#2=000010
#4=000100
print(a>>1)
print(b>>1)

1
2