<a href="https://colab.research.google.com/github/naidu1997/python_assignments/blob/main/python_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python dictionaries

In [ ]:
my_dict={'company':'mahindra','brand':'thar','models':4*4}
#key-values
my_alldict= {
    'company':'mahindra',
    'brand':'thar',
    'models':[44,24]
}
my_alldict

{'company': 'mahindra', 'brand': 'thar', 'models': [44, 24]}

In [ ]:
print(my_alldict)

{'company': 'mahindra', 'brand': 'thar', 'models': [44, 24]}

In [ ]:
#accessing values
company= {
    'brand': 'thar',
    'model': 44,
    'year': 2020
}

In [ ]:
mixed_dict={
    'company':'mahindra',
    'brand':'thar',
    'year':[2020,2021]
}

In [ ]:
print(company['model'])
print(mixed_dict['brand'])
print(company['year'])

44
thar
2020

In [ ]:
#2
capitals={
    'tamilnadu':'chennai',
    'karnataka':'bangalore',
    'telangana':'hyderabad'
}

In [ ]:
our_capitals={
    'tamilnadu':'chennai',
    'karnataka':'bangalore',
    'telangana':'hyderabad',
    'maharashtra':'mumbai'
}

In [ ]:
print(capitals['tamilnadu'])
print(our_capitals['karnataka'])
print(capitals['telangana'])
print(our_capitals['maharashtra'])

chennai
bangalore
hyderabad
mumbai

In [ ]:
#modifying and adding entries
youth={
    'alex':21,
    'berlin':23,
    'max':20
}

In [ ]:
#it modifies or adds an vale
youth['berlin']= 25
youth['alex']= 26
youth['pollin']= 27
print(youth)

{'alex': 26, 'berlin': 25, 'max': 20, 'pollin': 27}

In [ ]:
#2
marks={
    'maths':67,
    'physics':81,
    'chemistry':77
}

In [ ]:
marks['hindi']=72
marks['biology']=76
marks['social']=80
print(marks)

{'maths': 67, 'physics': 81, 'chemistry': 77, 'hindi': 72, 'biology': 76, 'social': 80}

dictionary methods

In [ ]:
                                                          #get
#it allows you to provide a default vallue
m=marks.get('hindi')
n=marks.get('telugu','not provided')
o=marks.get('sanskrit','not specified')

In [ ]:
print(m)
print(n)
print(o)

72
not provided
not specified

In [ ]:
   #-------------------------------------------------#keys-------------------------------------
#it gives all the keys
a=marks.keys()
print(a)
   # ------------------------------------------------#values--------------------------------------
#it gives all the values
b=marks.values()
print(b)
    #-----------------------------------------------#items----------------------------------------
#it gives both keys and values
c=marks.items()
print(c)
   #----------------------------------------------#pop-------------------------------------------
   #
   my_dict={
       'maths':67,
    'physics':81,
    'chemistry':77
   }
   maths=my_dict.pop('maths')
   print(maths)

dict_keys(['maths', 'physics', 'chemistry', 'hindi', 'biology', 'social'])
dict_values([67, 81, 77, 72, 76, 80])
dict_items([('maths', 67), ('physics', 81), ('chemistry', 77), ('hindi', 72), ('biology', 76), ('social', 80)])
67

In [ ]:
#___________________________________popitem_________________
print(marks)

{'maths': 67, 'physics': 81, 'chemistry': 77, 'hindi': 72, 'biology': 76, 'social': 80}

In [ ]:
#it shows the last item of the variable
a=marks.popitem()

print(a)

('biology', 76)

In [ ]:
#___________________________________________________update____________________________
my_1dict={
    'maths':67,
    'physics':81,
    'chemistry':77
}
marks

{'maths': 67, 'physics': 81, 'chemistry': 77, 'hindi': 72}

In [ ]:
new_data={'maths':67,'physics':81,'chemistry':77}
marks.update(new_data)
print(marks)

{'maths': 67, 'physics': 81, 'chemistry': 77, 'hindi': 72}