<a href="https://colab.research.google.com/github/naidu1997/python_assignments/blob/main/python_list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                                                                              #list
#it can be denoted by '[]'
fruits=["apple","mango","strawberry","banana"]
vegetables=["onion","brinjal","potato"]
print(type(fruits))

datatypes=["list","tuple","string","dictionary","set"]
names=["tharun","pavan","gayathri","satyam"]
print(type(names))

numbers=[1,2,3,]
fruits=["orange","sapota","kiwi"]
print(type(numbers))

NUMBERS=[1,2,3,4]
numbers=[1,2.8,5,7]
print(type(NUMBERS))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
                                                                            #slicing list
#it is defined by starting value from ending value
#in ending value'(n-1)' must be added
#it is denoted by ':'
names=["pavan","tharun","harish","sandeep"]
print(names[0:2])
bikes=["bmw","triumph_3","Kawasakizx10r"]
print(bikes[0:2])
#here we get 1:3. but '3' means 'sandeep'. here we added '(n-1)' so the value is 'harish'
#2
numbers=[1,2,3,4,5]
print(numbers[2:4])
#3
print(numbers[1:])
#4
print(numbers[:4])

['pavan', 'tharun']
['bmw', 'triumph_3']
[3, 4]
[2, 3, 4, 5]
[1, 2, 3, 4]

In [ ]:
                                                                             #concatenation
#it is about adding of two values(i.e.a+b)
fruits=["dragon fruit","grapes","watermelon","sapota","kiwi"]
vegetables=["brinjal","cucumber","drumstick","potato","onion"]
hotels = ["novotel","park hayat","grand arya","the trump","mariott"]
phones=["samsung","nokia","motorola","karbonn","celkon"]
c=fruits+vegetables
d=hotels+phones
e=phones+fruits
f=vegetables+phones
print(c)
print(d)
print(e)
print(f)
                                                                              #repetition
#it is about multiplying of numbers
numbers=[2, 4, 6, 8, 10, 12]
states=["goa","bihar","haryana","punjab"]
bikes=["ducati","honda","yamaha","ktm"]
cars=["mahindra","bmw","ferrari","benz"]
print(numbers*7)
print(states*12)
print(bikes*20)
print(cars*40)

['dragon fruit', 'grapes', 'watermelon', 'sapota', 'kiwi', 'brinjal', 'cucumber', 'drumstick', 'potato', 'onion']
['novotel', 'park hayat', 'grand arya', 'the trump', 'mariott', 'samsung', 'nokia', 'motorola', 'karbonn', 'celkon']
['samsung', 'nokia', 'motorola', 'karbonn', 'celkon', 'dragon fruit', 'grapes', 'watermelon', 'sapota', 'kiwi']
['brinjal', 'cucumber', 'drumstick', 'potato', 'onion', 'samsung', 'nokia', 'motorola', 'karbonn', 'celkon']
[2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12, 2, 4, 6, 8, 10, 12]
['goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab', 'goa', 'bihar', 'haryana', 'punjab']
['ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm', 'ducati', 'honda', 'yamaha', 'ktm']
['mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz', 'mahindra', 'bmw', 'ferrari', 'benz']

#index of list--->two types                                                      
1.possitive index
2.negative index

In [ ]:
hotels = ["novotel","park hayat","grand arya","the trump","mariott"]
hotels[3] = "taj"
hotels[1] = "trident"
print(hotels)

['novotel', 'trident', 'grand arya', 'taj', 'mariott']

In [ ]:
#to change the value of specific variable we use index method
#we start possitive index from '0'(i.e, leftr to right)
brands=["gap","louis philip","u.s.polo assasin","french crown"]
brands[3]="lee cooper"#in 3rd place 'lee cooper' will add in the place of 'french crown'
brands[1]="peter england"
print(brands)

['gap', 'peter england', 'u.s.polo assasin', 'lee cooper']

In [ ]:
places=["charminar","golcond","tank bund","necklace road"]
places[2]="hussain sagar"
places[0]="hi-tech city"
print(places)

['hi-tech city', 'golcond', 'hussain sagar', 'necklace road']

In [ ]:
phones=["samsung","nokia","motorola","karbonn","celkon"]
phones[2]="realme"
phones[4]="redmi"
print(phones)

['samsung', 'nokia', 'realme', 'karbonn', 'redmi']

In [ ]:
numbers=[2,4,6,8,10,12]
numbers[4]=15
numbers[2]=3
numbers[0]=1
print(numbers)

[1, 4, 3, 8, 15, 12]

#slicing of list
here we are using negative index

In [ ]:
#in negative index we start from '-1'(i.e.,right to left)
fruits=["dragon fruit","grapes","watermelon","sapota","kiwi"]
fruits[-3]="avacado"
fruits[-1]="papaya"#in '-1' place we use papaya instead of 'kiwi'
print(fruits)

['dragon fruit', 'grapes', 'avacado', 'sapota', 'papaya']

In [ ]:
vegetables=["brinjal","cucumber","drumstick","potato","onion"]
vegetables[-2]="carrot"
vegetables[-5]="beetroot"
print(vegetables)

['beetroot', 'cucumber', 'drumstick', 'carrot', 'onion']

In [ ]:
numbers=[1,3,5,7,9,11]
numbers[-3]=23
numbers[-6]=37
print(numbers)

[37, 3, 5, 23, 9, 11]

In [ ]:
#error
n=[1, 2, 3, 4, 5]
# -5 -4 -3 -2 -1
n(-3)=-5
n[-2]=-2
n[-5]=-1
print(n)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-45-7762b1b969bd>, line 4)

In [ ]:
                                                                                    #append
numbers=[4,5,6,7,8]
fruits=["orange","banana","mango"]
names=["pavan","jaswanth"]
bikes=["bmw","triumph_3","kawasakizx10r"]
cars=["porsche","tesla","audi"]
numbers.append(9) #we can add any number in the last of digits
fruits.append("kiwi")
names.append("tharun")
bikes.append("hero")
cars.append("tata nano")
print(numbers)
print(fruits)
print(names)
print(bikes)
print(cars)

In [ ]:
                                                                                          #extend
bikes=["bmw","triumph_3","kawasakizx10r"] #here we have to extend the numbers,names or anything
fruits=["orange","banana","mango"]
names=["pavan","jaswanth"]
metro=["hyderabad","chennai","bangalore","delhi"]
bikes.extend(fruits)
fruits.extend(metro)
names.extend(bikes)
metro.extend(names)
print(bikes)
print(fruits)
print(names)
print(metro)

['bmw', 'triumph_3', 'kawasakizx10r', 'orange', 'banana', 'mango']
['orange', 'banana', 'mango', 'hyderabad', 'chennai', 'bangalore', 'delhi']
['pavan', 'jaswanth', 'bmw', 'triumph_3', 'kawasakizx10r', 'orange', 'banana', 'mango']
['hyderabad', 'chennai', 'bangalore', 'delhi', 'pavan', 'jaswanth', 'bmw', 'triumph_3', 'kawasakizx10r', 'orange', 'banana', 'mango']

In [ ]:
                                                                                 #insert
bikes=["ducati","honda","yamaha","ktm"]        #we can insert the value in given statements
cars=["rolls royce","benz","lambhorgini","porsche"]
brands=["roadster","lee cooper","gap","bear house"]
fruits=["pineapple","grapes","banana","kiw"]
bikes.insert(4,"bajaj")
cars.insert(0,"tata")
brands.insert(2,"us polo")
fruits.insert(1,"dragon fruit")
print(bikes)
print(cars)
print(brands)
print(fruits)

['ducati', 'honda', 'yamaha', 'ktm', 'bajaj']
['tata', 'rolls royce', 'benz', 'lambhorgini', 'porsche']
['roadster', 'lee cooper', 'us polo', 'gap', 'bear house']
['pineapple', 'dragon fruit', 'grapes', 'banana', 'kiw']

In [ ]:
                                                                            #remove
fruits=["kiwi","orange","mango","papaya","grapes"]
cars=["maruthi suzuki","hyundai","mg hector","ford"]          #here,we have to remove the particular item in the list
bikes=["hero","tvs","yamaha","bajaj"]
metro=["chennai","bangalore","delhi","mumbai"]
fruits.remove("kiwi")
cars.remove("ford")
bikes.remove("tvs")
metro.remove("delhi")
print(fruits)
print(cars)
print(bikes)
print(metro)

In [ ]:
                                                                            #pop
fruits=["papaya","kiwi","grapes","orange","mango"]
bikes=["splender","bullet","apache","chetak"]          #here,we have to remove the index position of the value
numbers=[1,3,5,7,9,4]
brands=["allensolly","wrogn","wrangler","denim"]
fruits.pop(2)
bikes.pop(1)
numbers.pop(3)
brands.pop(0)
print(fruits)
print(bikes)
print(numbers)
print(brands)

In [ ]:
                                                                              #index
numbers=[8,7,6,5,4,3,2]
cars=["mahindra","bmw","ferrari","benz"] #it wells us about the exact index value of a variable
cities=["mumbai","delhi","lucknow","vijayawada"]
areas=["gachibowli","jubilihills","hitechcity","banjarahills"]
a1=numbers.index(7)
a2=cars.index("ferrari")
a3=cities.index("mumbai")
a4=areas.index("banjarahills")
print(a1)
print(a2)
print(a3)
print(a4)

1
2
0
3

In [ ]:
                                                                          #count
brands=["benetton","levis","raymond","tommy hilfiger"]
states=["andhra pradesh","telangana","karnataka","kerala"]  #we count the how many times the variable repeats
cities=["hyderabad","vijayawada","nagpur","hyderabad"]
metros=["mumbai","chennai","chennai","chennai"]
b1=brands.count("levis")
b2=states.count("andhra pradesh")
b3=cities.count("hyderabad")
b4=metros.count("chennai")
print(b1)
print(b2)
print(b3)
print(b4)

1
1
2
3

In [ ]:
                                                                      #sort
numbers=[9,7,4,7,2,1,8,5,9,4,2]
names=["tharun","harish","Sandeep","jeswanth","shiva"] #it gives output into ascending order
fruits=["apple","Kiwi","strawberry","Orange"]           #not only numbers but,alphabets too
bikes=["Pulsar","rx100","classic","jawa"]
numbers.sort()
names.sort()
fruits.sort()
bikes.sort()
print(numbers)
print(names)
print(fruits)
print(bikes)

[1, 2, 2, 4, 4, 5, 7, 7, 8, 9, 9]
['Sandeep', 'harish', 'jeswanth', 'shiva', 'tharun']
['Kiwi', 'Orange', 'apple', 'strawberry']
['Pulsar', 'classic', 'jawa', 'rx100']

In [ ]:
                                                                    #reverse
brands=["allensolly","wrogn","wrangler","denim"] #it will gives output in reverse
bikes=["bmw","triumph_3","Kawasakizx10r"]
cars=["Maruthi suzuki","Hyundai","mg hector","ford"]
numbers=[1,3,5,4,8,9,8,8,3,3,1,3,7,7]
brands.reverse()
bikes.reverse()
cars.reverse()
numbers.reverse()
print(brands)
print(bikes)
print(cars)
print(numbers)

['denim', 'wrangler', 'wrogn', 'allensolly']
['Kawasakizx10r', 'triumph_3', 'bmw']
['ford', 'mg hector', 'Hyundai', 'Maruthi suzuki']
[7, 7, 3, 1, 3, 3, 8, 8, 9, 8, 4, 5, 3, 1]