<a href="https://colab.research.google.com/github/naidu1997/python_assignments/blob/main/sets%2Cunion%2Cintersection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
                    #set
vegetables={'brinjal','tomato','onion','aloo'}
_numbers=set([1,2,3,4,5,6,7])
print(_numbers)
print(vegetables)

{1, 2, 3, 4, 5, 6, 7}
{'brinjal', 'aloo', 'onion', 'tomato'}

In [ ]:
names={'pavan','shiva','prasad','jaswanth','pavan','prasad'}
numbers={8,5,5,5,5,5,5,6,5,4}
print(names)   #set does not allows duplicate values
print(numbers)

{'shiva', 'prasad', 'pavan', 'jaswanth'}
{8, 4, 5, 6}

In [ ]:
              #add item to set
fruits={'starwberry','avacado','litchi','banana'}
numbers=set([1,2,3,4,5,6,7])
fruits.add('mango')
numbers.add(12)
print('all fruits:',fruits)
print('all numbers:',numbers)

all fruits: {'banana', 'mango', 'starwberry', 'avacado', 'litchi'}
all numbers: {1, 2, 3, 4, 5, 6, 7, 12}

In [ ]:
          #update a set
fruits={'starwberry','avacado','litchi','banana'}
names={'pavan','shiva','prasad','jaswanth','pavan','prasad'}
updated_list= fruits.update(names)
print(fruits)#it update a set and does not allows duplicate values

{'banana', 'prasad', 'starwberry', 'jaswanth', 'shiva', 'avacado', 'litchi', 'pavan'}

In [ ]:
         #remove a set
vegetables={'brinjal','tomato','onion','aloo'}
all_vegetables= vegetables.remove('onion')
print('all_vegetables:',vegetables)

all_vegetables: {'brinjal', 'aloo', 'tomato'}

In [ ]:
             #len of set
numbers={1,2,3,4,5,6,7,9}
print('all_numbers:',len(numbers))

all_numbers: 8

In [ ]:
           #union of set
a={1,2,3,4,5}
b={9,8,7,6}
c={1,34,75,98}
d={36,54,122}
print('union_numbers:',a|b)
   #or
print('union_numbers:',a.union(b))
print('union_numbers:',c|d)
   #or
print('union_numbers:',c.union(d))

union_numbers: {1, 2, 3, 4, 5, 6, 7, 8, 9}
union_numbers: {1, 2, 3, 4, 5, 6, 7, 8, 9}
union_numbers: {1, 34, 98, 36, 54, 122, 75}
union_numbers: {1, 34, 98, 36, 54, 122, 75}

In [ ]:
             #intersection of set
a= {1,2,3,5,4,5,6}
b= {0,9,8,5,7,6,4}
print('intersection_numbers:',a & b)  #it shows the repeated values
   #or
print('intersection_numbers:',a&b)

intersection_numbers: {4, 5, 6}
intersection_numbers: {4, 5, 6}

In [ ]:
   #difference of set
a= {1,2,3,4,5,6,7}
b= {1,3,6,8,0,9}
print('set_values:',a-b)
    #or
print('set_values:',a.difference(b))

set_values: {2, 4, 5, 7}
set_values: {2, 4, 5, 7}

In [ ]:
     #symmetric difference of set
c= {1,2,3,4,5,6,7}
d= {1,3,6,8,0,9,12}
print('symmetric_values (^):',c^d)
print('symmetric_values:',c.symmetric_difference(d))

symmetric_values (^): {0, 2, 4, 5, 7, 8, 9, 12}
symmetric_values: {0, 2, 4, 5, 7, 8, 9, 12}